@model StudentManagementSystem.Models.StudentRegistrationModels

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/AdminShared/_AdminLayout.cshtml";
}

<div class="content">
    <div class="card card-info">
        <div class="card-header">
            <h3 class="card-title">@ViewBag.title Form</h3>
        </div>
        <!-- /.card-header -->
        <!-- form start -->
        <form class="form-horizontal" method="post">
            @Html.AntiForgeryToken()
            <div class="card-body">
                <div class="form-group row">
                    @Html.LabelFor(model => model.Student, new { @class = "col-sm-2 col-form-label" })
                    <div class="col-sm-10">
                        @Html.DropDownListFor(model => model.StudentId, (IEnumerable<SelectListItem>)ViewBag.StudentId, "--Select student--", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.StudentId, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group row">
                    <label style="display: none" id="DeparmentLabel" for="DeparmentId" class="col-sm-2 col-form-label">Department</label>
                    <div class="col-sm-10">
                        <input type="hidden" class="form-control" id="DeparmentId" name="Deparment" disabled>
                    </div>
                </div>
                <div class="form-group row">
                    @Html.LabelFor(model => model.Course, new { @class = "col-sm-2 col-form-label" })
                    <div class="col-sm-10">
                        @Html.DropDownListFor(model => model.CourseId, (IEnumerable<SelectListItem>)ViewBag.CourseId, "--Select course--", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.CourseId, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group row">
                    @Html.LabelFor(model => model.IsPaymentComplete, new { @class = "d-none", id = "IsPaymentCompletelabel" })
                    <div class="col-sm-10">
                        @Html.CheckBoxFor(model => model.IsPaymentComplete, new { @class = "d-none" })
                        @Html.ValidationMessageFor(model => model.IsPaymentComplete, "", new { @class = "text-danger" })
                    </div>
                </div>
                <p class='text-center text-danger'>@Html.ValidationMessage("customerror")</p>
            </div>
            <!-- /.card-body -->
            <div class="card-footer">
                <button type="submit" class="btn btn-info">Submit</button>
                @Html.ActionLink("Back to List", "RegList", "StudentRegistration", new { @class = "float-right" })
            </div>
            <!-- /.card-footer -->
        </form>
    </div>
</div>



@section adminscripts
{
    <script>
        var student = document.getElementById("StudentId");
        var course = document.getElementById("CourseId");
        var mainUrl = document.location.origin;

        student.addEventListener("change", function () {
            var studentId = student.value;
            if (!!studentId) {
                var url = mainUrl + "/StudentRegistration/GetStudent/" + studentId;
                fetch(url)
                    .then(response => response.json())
                    .then(data => {
                        let dept = document.getElementById("DeparmentId");
                        dept.value = data["dept"];
                        dept.type = "text";
                        document.getElementById("DeparmentLabel").style.display = 'block';
                    });
            }
            else {
                document.getElementById("DeparmentId").type = "hidden";
                document.getElementById("DeparmentLabel").style.display = 'none';
            }
        });

        course.addEventListener("change", function () {
            var courseId = course.value;
            if (!!courseId) {
                document.getElementById("IsPaymentComplete").className = "d-block";
                document.getElementById("IsPaymentCompletelabel").className = "col-sm-2 col-form-label d-block";
            }
            else {
                document.getElementById("IsPaymentComplete").className  = "d-none";
                document.getElementById("IsPaymentCompletelabel").className  = "d-none";
            }
        });
    </script>

    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
}