@model StudentManagementSystem.Models.StudentRegistrationModels

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/AdminShared/_AdminLayout.cshtml";
}

<div class="content">
    <div class="card card-info">
        <div class="card-header">
            <h3 class="card-title">@ViewBag.title Form</h3>
        </div>
        <!-- /.card-header -->
        <!-- form start -->
        <form class="form-horizontal" method="post">
            @Html.AntiForgeryToken()
            <div class="card-body">
                <div class="form-group row">
                    @Html.LabelFor(model => model.Student, new { @class = "col-sm-2 col-form-label" })
                    <div class="col-sm-10">
                        <fieldset disabled>
                            @Html.EditorFor(model => model.Student.Name, new { htmlAttributes = new { @class = "form-control" } })
                        </fieldset>
                    </div>
                </div>
                <div class="form-group row">
                    @Html.LabelFor(model => model.Student.Department, new { @class = "col-sm-2 col-form-label" })
                    <div class="col-sm-10">
                        <fieldset disabled>
                            @Html.EditorFor(model => model.Student.Department.DeptName, new { htmlAttributes = new { @class = "form-control" } })
                        </fieldset>        
                    </div>
                </div>
                <div class="form-group row">
                    @Html.LabelFor(model => model.Course, new { @class = "col-sm-2 col-form-label" })
                    <div class="col-sm-10">
                        @Html.DropDownListFor(model => model.CourseId, (IEnumerable<SelectListItem>)ViewBag.Course, "--Select course--", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.CourseId, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group row">
                    @Html.LabelFor(model => model.IsPaymentComplete, new { @class = "col-sm-2 col-form-label" })
                    <div class="col-sm-10">
                        @Html.CheckBoxFor(model => model.IsPaymentComplete)
                        @Html.ValidationMessageFor(model => model.IsPaymentComplete, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <p class='text-center text-danger'>@Html.ValidationMessage("customerror")</p>
            <!-- /.card-body -->
            <div class="card-footer">
                <button type="submit" class="btn btn-info">Submit</button>
                @Html.ActionLink("Back to List", "RegList", "StudentRegistration", new { @class = "float-right" })
            </div>
            <!-- /.card-footer -->
        </form>
    </div>
</div>



@section adminscripts
{
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
}
