@{
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
}

<div class="wrapper">
    <!-- Navbar -->
    @RenderPage("~/Views/Shared/AdminShared/Navbar.cshtml")


    <!-- Main Sidebar Container -->
    @RenderPage("~/Views/Shared/AdminShared/MainSidebar.cshtml")

    <div class="content-wrapper">
        <!--Content Header-->
        @RenderPage("~/Views/Shared/AdminShared/ContentHeader.cshtml")

        <!--Dynamic body -->
        @RenderBody()

    </div>

    <!--Footer-->
    @RenderPage("~/Views/Shared/AdminShared/Footer.cshtml")

    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
    </aside>
    <!-- /.control-sidebar -->


    @section scripts
    {
        @*<script>
                $.widget.bridge('uibutton', $.ui.button)
            </script>*@

        @Scripts.Render("~/Content/admin/js")

        <script src="~/Content/admin/plugins/jsgrid/demos/db.js"></script>
        <script src="~/Content/admin/plugins/jsgrid/jsgrid.min.js"></script>
        <script src="~/Content/admin/dist/js/demo.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>


        @RenderSection("adminscripts", required: false)
    }
</div>

