@{
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
}

<div class="wrapper">
    <!-- Navbar -->
    @RenderPage("~/Views/Shared/AdminShared/Navbar.cshtml")


    <!-- Main Sidebar Container -->
    @RenderPage("~/Views/Shared/AdminShared/MainSidebar.cshtml")

    <div class="content-wrapper">
        <!--Content Header-->
        @RenderPage("~/Views/Shared/AdminShared/ContentHeader.cshtml")

        <!--Dynamic body -->
        @RenderBody()

    </div>

    <!--Footer-->
    @RenderPage("~/Views/Shared/AdminShared/Footer.cshtml")

    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
    </aside>
    <!-- /.control-sidebar -->
    

    @section scripts
    {
        @RenderSection("adminscripts", required: false)
    }
</div>

